<div class="footer">
  <div class="container arrange">
    <div class="rubrique liens-utiles">
      <h4>Liens utiles</h4>
      <p>Qui somme nous ?</p>
      <p>Devenez partenaire</p>
      <p>FAQ</p>
      <p>Recrutement</p>
      <p>Le blog</p>
      <p>Contactez nous</p>
    </div>
    <div class="rubrique reseaux-sociaux">
      <h4>Les réseaux sociaux</h4>
      <div class="reseaux">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <p>#Joorney</p>
      </div>
    </div>
    <div class="rubrique service-client">
      <h4>Le service client</h4>
      <div class="tel">
        <i class="fas fa-phone-alt"></i>
        <p>01 48 93 47 89</p>
      </div>
    </div>
  </div>
</div>
