<div class="navbar-joorney">
  <%= link_to "", root_path, class: "logo" %>
  <div class="onglets">
   <p>Idées d'activités</p>
   <p>Notre concept</p>
   <p>Astuces & co</p>
  </div>
  <div class="dark-part">
   <p>
      Hello
      <% if user_signed_in? %>
        <%= current_user.first_name %>
      <% end %>
    </p>
    <!-- <span class="avatar-navbar"></span> -->
    <% if user_signed_in? %>
      <%= cl_image_tag current_user.profile_picture, class: "avatar-navbar" %>
    <% end %>
  </div>
</div>
