<div class="navbar-joorney">
  <div class="logo">
  </div>
  <div class="onglets">
    <p>Idées d'activités</p>
    <p>Notre concept</p>
    <p>Astuces & co</p>
  </div>
  <div class="dark-part">
    <p>Hello X</p>
    <span class="avatar-navbar"></span>
  </div>
</div>
