// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Font colors
$black: #0A272E;
$grey: #545E61;
$light-grey: #86979B;

// element colors
$primary: #037F8C;
$primary-dark : #005A64;
$primary-light: #04BFBF;
$secondary: #BFC3E4;
$background-color: #F3F7F8;






