// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Font colors
$black: #01345B;
$grey: #4C5759;
$light-grey: #86979B;
$border-grey: #EDEDED;

// element colors
$primary: #5CE0D8;
$primary-dark : #01345B;
$background-color: #F3F5F7;
$primary-footer : #01345B;
$primary-hover : #F3C43B;
$secondary: #FFCF43;
$brown: #7B6246;
$grey-icons: #99B4C2;

$primary-light: #04BFBF;

// status colors
$done: #5CE0D8;
$in-progress: #E59B43;
$not-started: #DB504A;






