// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Font colors
$black: #0A272E;
$grey: #5C6769;
$light-grey: #86979B;


h1 {
  font-size: 36px;
  font-weight: bold;
  color: $black;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: $black;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  color: $black;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: $grey;
}

p {
  font-size: 15px;
  font-weight: normal;
  color: $light-grey;
}



