// Specific CSS for your home-page

.large-banner {
  // text-align: center;
  // padding-top: 15vh;
  // display: flex;
  // flex-direction: column;
  height: 530px;
  // background-image: url("photosbanner.ppg");
  // background-size: cover;
  // background-position: center;
  // align-items: center;
  // justify-content: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.banner-photos {
  width: 60%;
  background-image: asset-url("photosbanner.png");
  // overflow: visible;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.headline {
  width:40%;
  height: 100%;
  padding-top: 80px;
}


.large-banner h1 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: $black;
  line-height: 60px;
}

.large-banner p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.button {
  position: absolute;
  top: 362px;
}

.questions {
  height: 400px;
  position: relative;
  width: 100vw;
  padding-top: 70px;
}

#quand {
  left: 350px;
  position: absolute;
  transform: rotate(-2deg);
}

#quoi {
  position: absolute;
  left: 1200px;
  transform: rotate(-1deg);
}

#budget {
  position: absolute;
  top: 200px;
  left: 550px;
  transform: rotate(2deg);
}

#activites {
  position: absolute;
  left: 800px;
  transform: rotate(1deg);
  top: 120px;
}

#loger {
  position: absolute;
  left: 1200px;
  top: 170px;
  transform: rotate(-3deg);
}

#agenda {
  position: absolute;
  top: 250px;
  left: 900px;
  transform: rotate(-1deg);
}

#transport {
  position: absolute;
  left: 1200px;
  top: 210px;
  transform: rotate(-3deg);
}

.explanation {
  height: 475px;
  background-color: $background-color;
  padding-top: 50px;
}

.p-container {
  width: 1100px;
  margin: 0 auto;
}

.t-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  height: 100%;
}

.rounds {
  display: flex;
  margin-top: 40px;
  background-image: asset-url("bloc_1.svg");
  height: 304px;
  width: 1132px;
  justify-content: center;
  text-align: center;
}

#banner-typed-text {
  background-color: $secondary;
  border-radius: 12px;
  padding: 0 15px;
}





