// Specific CSS for your home-page

.large-banner {
  // text-align: center;
  // padding-top: 15vh;
  // display: flex;
  // flex-direction: column;
  height: 720px;
  display: flex;
  // margin-left: 100px;
  // margin-right: 100px;
  width: 90%;
  margin: 0 auto;
  // background-image: url("photosbanner.ppg");
  // background-size: cover;
  // background-position: center;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  // margin-top: 20px;
  // margin-bottom: 20px;
}

// .banner-photos {
//   width: 100%;
//   // background-image: asset-url("photosbanner.png");
//   // overflow: visible;
//   // background-size: contain;
//   // background-position: center;
//   // background-repeat: no-repeat;
// }

.headline {
  width: 40%;
  height: 100%;
  padding-top: 110px;
  position: relative;
}

.vide {
  width: 60%;
  height: 100%;
  background-image: url("photosbanner.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: visible;
}

.headline .button {
  position: absolute;
  top: 390px;
}

// #headline-title {
//   margin-bottom: 70px;
// }


.large-banner h1 {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: $black;
  line-height: 60px;
}

.large-banner p {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.button {
  top: 362px;
}


// .explanation {
//   height: 475px;
//   background-color: $background-color;
//   padding-top: 50px;
// }


.rounds {
  // display: flex;
  margin-top: 40px;
  background-image: asset-url("bloc_1.svg");
  height: 304px;
  width: 1142px;
  // justify-content: center;
  // text-align: center;
}

#banner-typed-text {
  background-color: $primary;
  border-radius: 12px;
  padding: 0 15px;
}

// .scontainer {
//   width: 99%;
//   padding: 0 20px;
//   height: 4600px;
//   display: flex;
//   justify-content: center;
// }

.background-home {

  background: url(Background.svg);
  // background-image: no-repeat;
  // background-size: contain;
  // background-position: center;
  // width: 99%;
  // height: 4600px;
  min-height: 100%;
  // background-repeat: no-repeat;
  // background-position: center;
  // object-fit: cover;
  background-size: cover;
  // background-repeat: no-repeat;
  height: 3950px;
}






