#setup1 {
  margin-top: 40px;
}

#input-name-category .form-control {
  width: 60%;
}

.add-picture {
  height: 150px;
  width: 250px;
  display: flex;
  margin: auto;
  margin-top: 10%;
  position: relative;
}

.add-picture img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  background-position: center;
  border-radius: 5px;
  opacity: 0.2;
}

.container-small-new {
  margin: 0 auto;
}

.event_destination  {
  svg {
    display: none !important;
  }
}

button > svg {
  display: none !important;
}

.back-photo {
  background-size: cover;
}
