#setup1 {
  margin-top: 40px;
}

.add-picture {
  height: 150px;
  width: 250px;
  display: flex;
  margin: auto;
  margin-top: 10%;
  position: relative;
}

.add-picture img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  background-position: center;
  border-radius: 5px;
  opacity: 0.2;
}

