<ul id="setup-nav" class="list-inline tabs-underlined">
  <li>
    <%= link_to "Créer mon évènement", new_event_path, class: "tab-underlined active" %>
  </li>
  <li>
    <%= link_to "Sondage (optionnel)", new_event_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Inviter des participants", new_event_path, class: "tab-underlined" %>
  </li>
</ul>

<!-- survey_path(@navbar_survey)
invite_event_path(@event) -->
