<div class="setup-tabs">
  <ul id="setup-nav" class="list-inline tabs-underlined">
    <li>
      <%= link_to "Créer mon évènement", new_event_path, class: "tab-underlined active" %>
    </li>
    <li>
      <%= link_to "Sondage (optionnel)", '#', class: "tab-underlined" %>
    </li>
      <li>
        <%= link_to "Inviter des participants", '#', class: "tab-underlined" %>
    </li>
  </ul>
</div>








    <%# if survey.nil? %>
      <%#= link_to "Sondage (optionnel)", '#', class: "tab-underlined" %>
    <%# else %>
      <%#= link_to "Sondage (optionnel)", survey_path(survey), class: "tab-underlined" %>
    <%# end %>
<!--   </li>
  <li> -->
    <%# if survey.nil? %>
      <%#= link_to "Inviter des participants", '#', class: "tab-underlined" %>
    <%# else %>
      <%#= link_to "Inviter des participants", invite_event_path(event), class: "tab-underlined" %>
    <%# end %>
<!--   </li>
</ul> -->


<!-- survey_path(survey)
invite_event_path(event) -->

