<!-- ONGLET 3 (début) -->
<h1>hello</h1>
<%= @event.name %>
<div class="container">
  <div class="token">
    <h2>Code à partager</h2>
    <h3>TOKEN</h3>
    <h4>Je partage sur :</h4>
    <!-- <form action="/user_events#send_invitation" method="post" class="form-example">
      <div class="form-example">
        <label for="phone_number">Renseignez le numéro du participant</label>
        <input type="text" name="phone_number" id="phone_number" required>
      </div>
      <div class="form-example">
        <input type="submit" value="Envoyer le message">
      </div>
    </form> -->
  </div>
      <!-- /events/:event_id/user_events/:id/send_invitation(.:format) -->
    <%# phone_number = gets.chomp  %>
  <div class="icons">
    <i class="fab fa-facebook-messenger"></i>
    <i class="fab fa-whatsapp"></i>
    <i class="fas fa-at"></i>
  </div>
</div>
