<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true">Infos générales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="survey-tab" data-toggle="tab" href="#survey" role="tab" aria-controls="survey" aria-selected="false">Sondage(optionnel)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="guests-tab" data-toggle="tab" href="#guests" role="tab" aria-controls="guests" aria-selected="false">Inviter les participants (optionnel)</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">Les infos générales de votre évènement :






  </div>
  <!-- ONGLET 1 : FIN CRÉA EVENT -->
  <!-- ONGLET 2 : DÉBUT DU FORMULAIRE -->
  <div class='container'>
    <div class="row tab-pane fade" id="survey" role="tabpanel" aria-labelledby="survey-tab">
      <div class='col-8'>
        <div>
          <p>1. Préciser les champs que vous souhaitez inclure dans le sondage</p>
          <p>2. Limiter le nombre de choix en proposant vos idées</p>
        </div>
        <!-- CHAMP 1 début -->
        <div>
          <div>
            <h1>Champ 1</h1>
            <h2>Disponibilités</h2>
          </div>
          <!-- DATES début -->
          <div>
            <div class='sub-book'>
              <%= simple_form_for [@event] do |f| %>
                <%= f.input :start_date, label: "Date de début", required: false, input_html: {class: "datepicker"} %>
                <%= f.input :end_date, label: "Date de fin", required: false, input_html: {class: "datepicker"} %>
            </div>
            <div>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
          <!-- DATES fin -->
        </div>
        <!-- CHAMP 1 fin -->
        <!-- CHAMP 2 début -->
        <div>
          <div>
            <h1>Champ 2</h1>
            <h2>Budget max/participant</h2>
            <%= f.input :budget_per_participant_cents, as: :range %>
          </div>
          <div>
          </div>
        </div>
      </div>
              <% end %>
      <!-- ONGLET 2 : FIN DE LA PARTIE GAUCHE DU FORMULAIRE -->
      <!-- ONGLET 2 : DÉBUT DE LA PARTIE DROITE DU FORMULAIRE -->
      <div class='col-4'>
        <div>
          <h1>Sondage<span id='survey_name'></span></h1>
          <p>Informations à préciser pour l’événement.Cela m’aidera à proposer une organisation qui contente tout le monde ;)</p>
        </div>
      </div>
      <!-- ONGLET 2 : FIN DE LA PARTIE DROITE DU FORMULAIRE -->
      <!-- ONGLET 2 : FIN DU FORMULAIRE -->
    </div>
  </div>
  <div class="tab-pane fade" id="guests" role="tabpanel" aria-labelledby="guests-tab">J'invite mes participants






  </div>
</div>
