<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="infos-tab" data-toggle="tab" href="#infos" role="tab" aria-controls="infos" aria-selected="true">Infos générales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="survey-tab" data-toggle="tab" href="#survey" role="tab" aria-controls="survey" aria-selected="false">Sondage(optionnel)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="guests-tab" data-toggle="tab" href="#guests" role="tab" aria-controls="guests" aria-selected="false">Inviter les participants (optionnel)</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="infos" role="tabpanel" aria-labelledby="infos-tab">Les infos générales de votre évènement :






  </div>

  <div class="tab-pane fade" id="survey" role="tabpanel" aria-labelledby="survey-tab">Créer un sondage pour choisir avec tous les participants les infos générales





  </div>

  <div class="tab-pane fade" id="guests" role="tabpanel" aria-labelledby="guests-tab">J'invite mes participants






  </div>
</div>
