<div id="banner-dashboard">

</div>

<div class="container">
  <div class="row">

    <div class="col-8">
      <div id="dashboard-nav">
      </div>
      <div id="dashboard-main-info" class="dashboard-card">
        <div class="db-info-detail">
          <h5>Budget/pers</h5>
        </div>
        <div class="db-info-detail">
          <h5>Date</h5>
        </div>
        <div class="db-info-detail">
          <h5>Lieu</h5>
        </div>
      </div>
      <div id="dashboard-progression" class="dashboard-card">
      </div>
      <div id="dashboard-budget">
        <div id="dashboard-budget-tot" class="dashboard-card">
        </div>
        <div id="dashboard-costs" class="dashboard-card">
        </div>
      </div>
      <div id="settings" class="dashboard-card">
        <div id="settings-survey">
          <p>Créer un sondage</p>
        </div>
        <div id="settings-guests">
          <p>Gérer la liste des participants</p>
        </div>
        <div id="settings-tips">
          <p>Voir nos conseils</p>
        </div>
        <div id="settings-new-event">
          <p>Créer un autre projet</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div id="timeline" class="dashboard-card">
      </div>
    </div>
  </div>
</div>

