<div class="top-banner">
  <div class="p-container">
    <h1>Organiser un événement réussi n’a jamais été aussi simple</h1>
    <%= link_to "Créer mon événément", new_event_path, class:"button" %>
  </div>
</div>
