.banner-setup {
  width: 100%;
  height: 200px;
  background: asset-url("Gradient.png");
  background-size: cover;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  margin-bottom: 30px;
  position: relative;
}


.banner-setup h1 {
  color: $black;
  text-align: center;
  // margin: auto;
  vertical-align: middle;
  line-height: 200px;
}



