#main-b {
  background-color: grey;
}

.details-txt {
  margin-top: 100px;
}

.colonne {
  text-align: center;
}

#act-name {
  text-align: left;
}

#tot-price {
  text-align: right;
}

.details {
  padding: 5px;
  margin-top: 30px;
  border-radius: 15px;
  background-color: white;
}

.act-logo {
  margin-bottom: 30px;
}

.act-spec {
  margin-bottom: 20px;
}

#total-div {
  margin: 0;
}

.payment-title {
  text-align: center;
}

.lign {
  display: flex;
  justify-content: center;
}
