
#banner-dashboard {
  width: 100%;
  height: 200px;
  // background-color: $primary-dark;
  background: url(Gradient.png);
  background-size: cover;

  // background: linear-gradient(0.25turn, #36D1DC, #5B86E5);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  // position: relative;
}

.avatars {
  display: flex;
  position: relative;
  display: flex;
  position: relative;
  margin-left: 816px;
  margin-bottom: -48px;
}

#banner-dashboard img {
  height: 150px;
  width: 250px;
  object-fit: cover;
  position: absolute;
  left: 160px;
  top: 93px;
  border-radius: 12px;
  transform: rotate(-5deg);
}


.dashboard-card {
  background: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

// dashboard infos

#dashboard-main-info {
  display: flex;
  height: 130px;
  margin-bottom: 20px;
}

.db-info-detail {
  flex: 1 1 0;
  flex-grow: 1;
  text-align: center;
}

.db-info-detail p {
  font-size: 12px;
  margin-top: 10px
}

.db-info-detail-value {
  margin-top: 25px;
  height: 40%;
}

.with-border-right {
  border-right: 2px solid #C4C4C4
}

// dashboard progression

#dashboard-progression {
  height: 210px;
  position: relative;
}

#db-progression-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.db-progression-detail {
  flex: 1 1 0;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.db-progression-detail p{
  font-size: 12px;
}

.db-progression-detail i {
  font-size: 20px;
  padding-bottom: 25px;
}

#dashboard-progression-pay {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

// dashboard budget

#dashboard-budget {
  display: flex;
}

#dashboard-budget-tot {
  height: 350px;
  flex-grow: 1;
  margin-right: 20px;
}

#dashboard-costs {
  height: 350px;
  flex-grow: 2;
}

#dashboard-costs i {
  font-size: 160px;
  color: $primary;
}

.db-costs-chart {
  height: 91%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// dashboard settings

#settings {
  height: 281px;
}


#settings-details {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.settings-detail {
  background: $primary-dark;
  border-radius: 5px;
  /* position: relative; */
  width: 20%;
  min-height: 80%;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.settings-detail:hover {
  transform: scale(1.03);
  transition-duration: 0.6s;
}


.settings-detail p{
color: white;
}

.settings-detail i {
  font-size: 40px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

// timeline

#timeline {
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 11;
}

#top-timeline {
  height: 200px;
  // border-bottom: 1px solid grey;
}

#top-timeline h4 {
  margin-bottom: 30px;
}

#top-timeline p {
  font-size: 13px;
}


// countdown css
.time {
  color: $black;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle{
  text-align: center;
}

.time span{
  padding: 0 14px;
  font-size: 13px;
  font-family: "Space Mono";
}

.time span div{
  font-size: 40px;
}

.title-countdown {
  text-align: center;
}


// piechart css
// .piechart-div {
//   width: 1000px;
//   margin: 0 auto;
// }

.piechart-div .box {
  width: 25%;
  float: left;
}

.piechart-div .box .chart  {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 110px;
}

.piechart-div .box canvas {
  position: absolute;
  top: 0;
  left: 0;
}
// end piechart css

.backcolor {
  background-color: $background-color;
  // background: linear-gradient(0.25turn, $background-color, $secondary);
}

// body {
//   background-color: $background-color;
// }

.top-progression {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-betwwen;
}

.all-cards {
  margin-top: 40px;
}

#doughnut-chart {
  width: 400px;
  height: 220px;
  padding: 20px;
}

.one-activity {
  display: flex;
  margin-bottom: 30px;
  border-bottom: 1px solid $border-grey;
}

.one-activity > .avatar-navbar {
  margin-right: 15px;
}

.activity-content {
  line-height: 0.8;
}

