
#banner-dashboard {
  width: 100%;
  height: 200px;
  // background-color: $primary-dark;
  background: asset-url("Gradient.png");
  background-size: cover;

  // background: linear-gradient(0.25turn, #36D1DC, #5B86E5);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  // position: relative;
}

.avatars {
  display: flex;
  position: relative;
  display: flex;
  position: relative;
  margin-left: 787px;
  margin-bottom: -48px;
}

// #banner-dashboard img {
//   height: 150px;
//   width: 250px;
//   object-fit: cover;
//   position: absolute;
//   left: 160px;
//   top: 93px;
//   border-radius: 12px;
//   transform: rotate(-5deg);
// }

.img-dashboard {
  height: 150px;
  width: 250px;
  object-fit: cover;
  position: absolute;
  left: 160px;
  top: 93px;
  border-radius: 12px;
  transform: rotate(-5deg);
  border: 1px solid $black;
}

.dashboard-card {
  background: white;
  border-radius: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
  // padding: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

.pad {
  padding: 0px 20px;
}

// dashboard infos

#dashboard-main-info {
  display: flex;
  height: 130px;
  margin-bottom: 20px;
}

.db-info-detail {
  flex: 1 1 0;
  flex-grow: 1;
  text-align: center;
}

.db-info-detail p {
  font-size: 12px;
  margin-top: 10px
}

.db-info-detail-value {
  margin-top: 25px;
  height: 40%;
}

.with-border-right {
  border-right: 2px solid #C4C4C4
}

// dashboard progression

#dashboard-progression {
  height: 210px;
  position: relative;
}

#db-progression-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.db-progression-detail {
  flex: 1 1 0;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.db-progression-detail p {
  font-size: 12px;
}

.db-progression-detail i {
  font-size: 20px;
  padding-bottom: 25px;
}

#dashboard-progression-pay {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

// dashboard budget

// #dashboard-budget {
//   display: flex;
// }

#dashboard-budget-tot {
  height: 350px;
  flex-grow: 1;
  margin-right: 20px;
}

#dashboard-costs {
  height: 350px;
  // flex-grow: 2;
  // display: flex;
}

.chart-labels {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard-costs i {
  color: $primary;
}

.db-costs-chart {
  width: 60%;
  height: 90%;
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}


.db-costs-chart .budget-tot-center{
  position: absolute;
  top: 42%;  /* position the top  edge of the element at the middle of the parent */
  left: 40%;
}

.budget-tot-center p {
  font-size: 10px;
  }


.labels {
  width: 40%;
  height: 90%;
}

// dashboard settings

#settings {
  height: 281px;
}


#settings-details {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.settings-detail {
  background: $primary-dark;
  border-radius: 5px;
  /* position: relative; */
  width: 20%;
  min-height: 80%;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom: 12px solid $primary;
}

.settings-detail:hover {
  transform: scale(1.03);
  transition-duration: 0.6s;
}


.settings-detail p {
  color: white;
}

.settings-detail i {
  font-size: 40px;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

// timeline

#timeline {
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 11;
}

.top-timeline {
  height: 200px;
  // border-bottom: 1px solid grey;
}

// #top-timeline h4 {
//   margin-bottom: 30px;
// }

#top-timeline p {
  font-size: 13px;
}


// countdown css opacity 1
.time {
  color: $black;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle{
  text-align: center;
}

.time span{
  padding: 0 14px;
  font-size: 13px;
  font-family: "Space Mono";
}

.time span div{
  font-size: 40px;
}

// time css opacity 0

.time-opacity-0 {
  color: $black;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.middle-opacity-0 {
  text-align: center;
  opacity: 0;
}

.time-opacity-0 span {
  padding: 0 14px;
  font-size: 13px;
  font-family: "Space Mono";
  opacity: 0;
}

.time-opacity-0 span div {
  font-size: 40px;
  opacity: 0;
}




.title-countdown {
  text-align: center;
}


// piechart css
// .piechart-div {
//   width: 1000px;
//   margin: 0 auto;
// }

.piechart-div .box {
  width: 25%;
  float: left;
}

.piechart-div .box .chart  {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 110px;
}

.piechart-div .box canvas {
  position: absolute;
  top: 0;
  left: 0;
}
// end piechart css

.backcolor {
  background-color: $background-color;
  // background: linear-gradient(0.25turn, $background-color, $secondary);
}

// body {
//   background-color: $background-color;
// }

.top-progression {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-betwwen;
}

.all-cards {
  margin-top: 20px;
}

// #doughnut-chart {
//   width: 400px;
//   height: 220px;
//   padding: 20px;
// }

.one-activity {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid $border-grey;
}

.one-activity > .avatar-navbar {
  margin-right: 15px;
}

// .activity-content {
//   line-height: 0.8;
// }

.one-activity > .avatar-p {
  margin-right: 18px;
}

#title-cost {
  margin-bottom: 20px;
}

.label-color i {
  font-size: 15px;
}

.label-color {
  display: flex;
  padding: 6px;
  align-items: center;
}

#budget-circle {
  color: $done !important;
}

// .label-budget

// #title_position-time {
//   margin-top: 40px;
// }

.back-dark {
  // width: 100%;
  // height: 30px;
  padding: 15px 25px;
  background-color: $primary-dark;
  color: background-color;
  border-radius: 12px 12px 0px 0px;
}


// new card design

.new-card {
  margin-top: 20px;
  height: 130px;
  margin-bottom: 20px;
  background-color: white;
  flex-direction: row;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
}

.titles {
  display: flex;
  width: 100%;
  height: 40px;
}


.leftt {
  border-radius: 12px 0px 0px 0px;
}

.tier-top {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary-dark;
  padding-top: 5px;
  height: 40px;
}

.rightt {
  border-radius: 0px 12px 0px 0px;
}

.tier {
  width: 33%;
  text-align: center;
  height: 90px;
  padding-top: 25px;
  // padding-top: 20px;
}

.info-details {
  height: 90px;
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.new-card h4 {
  color: white;
}

#msg-no-activity {
  margin-top: 30px;
}

.settings-detail p {
  margin-bottom: 20px;
}

.dark-back {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary-dark;
  padding-top: 5px;
  height: 40px;
  border-radius: 12px 12px 0px 0px;
}

.dark-back h4 {
  color: white;
}


