.footer {
  margin-top: 150px;
  background-image: asset-url("Footer.png");
  background-size: cover;
  height: 355px;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.arrange {
  display: flex;
  padding: 0px;
  margin-top: -40px;
}

.footer p {
  color: white;
}

.footer h4 {
  color: white;
  font-size: 21px;
  margin-bottom: 20px;
}

.reseaux-sociaux p {
  font-size: 18px;
  color: white;
}

.reseaux-sociaux i {
  color: white;
  font-size: 28px;
  padding: 0 20px;
}

.reseaux-sociaux p {
  padding: 0 20px;
  margin-top: 5px;
}


.reseaux {
  display: flex;
}

.service-client p {
  font-size: 18px;
  color: white;
}

.rubrique {
  margin: 0 20px;
  flex: 1;
}


.tel-b {
  display: flex;
}

.tel-b i {
  color: white;
  font-size: 28px;
  transform: rotate(98deg);
  margin-right: 20px;
}

.tel-b p {
  margin-top: 5px;
}

.rubrique {
  line-height: 1;
}

.liens-utiles > p {
  margin-bottom: 15px;
}
