.form-control {
  background-color: $background-color !important;
  border-radius: 12px;
  border: 1px solid white;
  width: 60%;
  height: 44px;
  color: $primary-dark;
}

.select option {
  color: $black;
  // background-color: blue;
}

select:not(:-internal-list-box) {
  background-color: blue !important;
}

.form-control-label {
  color: $primary-dark;
}
