.card-num {
  background-color: $primary-dark;
  border: 0px;
  font-size: 21px;
}

.num, .date-ech, .user-names {
  color: $background-color;
}

.num::placeholder, .date-ech::placeholder, .user-names::placeholder {
  color: white;
  opacity: 0.6;
}

.num {
  position: absolute;
  bottom: 100px;
  left: 40px;
  height: 35px;
  width: 50%;
}

.puces-cb {
  height: 55px;
  width: 80px;
  // background-color: $yellow;
  border-radius: 10px;
  position: absolute;
  top: 90px;
  left: 40px;
  background-image: asset-url("puce.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cb-logo {
  height: 55px;
  width: 94px;
  // background-color: $yellow;
  // border-radius: 10px;
  border: 2px solid white;
  position: absolute;
  top: 20px;
  left: 390px;
  background-image: asset-url("cb.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.date-ech {
  position: absolute;
  bottom: 60px;
  height: 35px;
  width: 13%;
  left: 50%;
}

.user-names {
  position: absolute;
  bottom: 20px;
  height: 35px;
  width: 80%;
  left: 40px;
}

// ARRIERE
.crypto {
  position: absolute;
  top: 115px;
  height: 35px;
  width: 40%;
  right: 50%;
  text-align: right;
  background-color: white;
}

.bande-noire {
  position: absolute;
  top: 30px;
  height: 45px;
  width: 100%;
  // right: 50%;
  // text-align: right;
  background-color: black;
}

// ANIMATION 3D ROTATION
.cards-big-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  margin-bottom: 100px;
  position:relative;
  top: 50px;
}

.act-cards {
  perspective: 800px;
  width: 500px;
  height: 200px;
  position: relative;
}

.act-card {
  position:absolute;
  background-size: cover;
  transition: 2s;
  backface-visibility: hidden;
  height: 300px;
  width: 500px;
  border-radius: 20px;
  background-color: $primary-dark;
}


@-webkit-keyframes movedevant {
  from {
    transform: rotate3D(0);
  }

  to {
    transform: rotate3D(0, 1, 0, 180deg);
  }
}

@keyframes movedevant {
  from {
    transform: rotate3D(0);
  }

  to {
    transform: rotate3D(0, 1, 0, 180deg);
  }
}

.rotate3D-card #devant
{
  animation: movedevant 2s; /* 3 étapes */
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

@-webkit-keyframes movederriere {
  from {
    transform: rotate3D(0, 1, 0, -180deg);
  }

  to {
    transform: rotate3D(0, 1, 0, 0deg);
  }
}

@keyframes movederriere {
  from {
    transform: rotate3D(0, 1, 0, -180deg);
  }

  to {
    transform: rotate3D(0, 1, 0, 0deg);
  }
}

.rotate3D-card #derriere
{
  animation: movederriere 2s; /* 3 étapes */
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

.click-rot {
  position: absolute;
  font-size: 50px;
  right: -60px;
  bottom: 36px;
  color: $yellow;
  text-shadow: grey 1px 0 10px;
}

// .act-cards:hover #devant{
//   transform: rotateY(180deg);
// }

// .act-cards:hover #derriere{
//   transform: rotateY(0deg);
// }

// #devant {
//   z-index: 100;
// }

// #derriere {
//   z-index: 50;
//   font-size: 10px;
//   transform: rotateY(-180deg);
// }
