.form-sugg {
  padding: 50px;
  padding-top: 0px;
}

.champs {
}

.champ_nb {
  margin-right: 15px;
}

.survey-question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

#dates-sugg :nth-child(1), #dates-sugg :nth-child(2), #dates-sugg :nth-child(3) {
  // margin-right: 20px;
}

.date-plus {
  border: 0;
  border-radius: 50%;
  color: red;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  width: 20px;
}

.delete-sugg {
  font-size: 15px;
}

.plus {
  font-size: 20px;
}

.submit-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cta-link a {
  margin-top: 25px;
  color: $primary-dark;
}

#cta-link:hover a {
  color: $primary-dark;
  text-decoration: none;
}


.dynamic-survey {
  // border: 1px solid black;
  border-radius: 12px;
  width:100%;
  transform: rotate(1deg);
  // box-shadow: 0px 2px 15px rgba(0, 0, 0, .2);
  box-shadow: 0 14px 28px rgba(0,0,0,0.17), 0 10px 10px rgba(0,0,0,0.13);
  padding: 30px;
  border: 2px solid $secondary;
}

// .dynamic-survey:hover {
//   transform: scale(1.03);
//   transition-duration: 0.5s;
// }

#sugg-places {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.submit-area > .button {
  margin-bottom: 20px;
}

#thematics-sugg {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.green {
  color: white;
  border-color: white;
  background-color: $done;
}

.green:hover {
  color: white;
  border-color: white;
  background-color: $done;
}

.green-thumb {
  color: $done;
}

.cross-delete {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.cross-delete:after {
  position: absolute;
  content: "\f057";
  width: 20px;
  height: 20px;
  top: 2px;
  font-family: "Font Awesome 5 Free";
}

// .cal-plus {
//   position: absolute;
// }

.date-plus {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.date-plus:after {
  position: absolute;
  content: "/f271";
  font-family: "Font Awesome 5 Free";
  width: 100px;
  height: 100px;
  color: red;
}
