.form-sugg {
  padding: 50px;
}

.dynamic-survey {
  padding: 20px;
}

.champs {
  display: flex;
}

.champ_nb {
  margin-right: 15px;
}

.survey-question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

#dates-sugg :nth-child(1), #dates-sugg :nth-child(2), #dates-sugg :nth-child(3) {
  // margin-right: 20px;
}

.date-plus {
  border: 0;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 0;
  width: 20px;
}

.delete-sugg {
  font-size: 15px;
}

.plus {
  font-size: 20px;
}

.submit-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dynamic-survey {
  border: 1px solid black;
  border-radius: 10px;
  width:100%;
}

#sugg-places {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
