.tabs-underlined {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.tabs-underlined .tab-underlined {
  color: $primary-dark;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $primary-dark;
}

.dashboard-nav li {
  text-align: center;
}

#onglet-d i {
  font-size: 28px;
  color: $primary;
}

#onglet-d #main-icon {
  font-size: 28px;
  color: $primary-dark;
}

#onglet-d:hover {
  // text-align: center;
  transform: scale(1.03);
  // transition-duration: 1s;
}


#onglet-d {
  text-align: center;
}



// #dashboard-nav i {
//   padding-left: 45px;
// }

#dashboard-nav a {
  font-size: 16px;
  margin-left: 6px;
  margin-right: 6px;
}

.setup-tabs {
  display: flex;
  justify-content: center;
}
