<% if suggestion.start_date != nil && suggestion.end_date != nil%>
  <div>
    <i class="fas fa-times-circle delete-sugg"></i>
    <%= link_to "Supprimer",
    survey_suggestion_path(suggestion.survey.id, suggestion),
    class: '',
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <span><%= suggestion.start_date.strftime("%d/%m/%Y") %></span>
    <span> | </span>
    <span><%= suggestion.end_date.strftime("%d/%m/%Y") %></span>
  </div>
<% end %>
