<% if suggestion.start_date != nil && suggestion.end_date != nil%>
  <div>
    <%= link_to "",
    survey_suggestion_path(suggestion.survey.id, suggestion),
    class: 'cross-delete',
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <span><%= suggestion.start_date.strftime("%d/%m/%Y") %></span>
    <span> | </span>
    <span><%= suggestion.end_date.strftime("%d/%m/%Y") %></span>
  </div>
<% end %>
