<%if suggestion.topic == "Destination" %>
  <div>
    <%= link_to '',
    survey_suggestion_path(suggestion.survey.id, suggestion),
    class: 'cross-delete',
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <span><%= suggestion.value.capitalize %></span>
  </div>
<% end %>
