<%if suggestion.topic == "Destination" %>
  <div>
    <%= link_to '',
    survey_suggestion_path(suggestion.survey.id, suggestion),
    class: 'cross-delete',
    method: :delete,
    data: { confirm: "Are you sure?" } %>
   <span><%= Geocoder.search(suggestion.value).first.city %>, <%= Geocoder.search(suggestion.value).first.country %></span>
  </div>
<% end %>
