<%if suggestion.topic == "Destination" %>
  <div>
    <%= link_to '<i class="fas fa-times-circle delete-sugg"></i>',
    survey_suggestion_path(suggestion.survey.id, suggestion),
    class: '',
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <span><%= suggestion.value.capitalize %></span>
  </div>
<% end %>
