<%if suggestion.topic == "Destination" %>
  <div class="card-trip">
    <img src="https://source.unsplash.com/400x225/?city,<%= Geocoder.search(suggestion.value).first.city %>" />
    <div class="card-trip-infos">
      <p class='places-name'><%= Geocoder.search(suggestion.value).first.city %>, <%= Geocoder.search(suggestion.value).first.country %></p>
      <i class="far fa-thumbs-up thumb"></i>
    </div>
  </div>
<% end %>
