<%# if suggestion.topic == "Destination" %>
<!--   <div> -->
    <%#= suggestion.value %>
<!--     <i class="far fa-thumbs-up thumb"></i>
  </div> -->
<%# end %>

<%if suggestion.topic == "Destination" %>
<div class="card-trip">
    <img src="" />
    <div class="card-trip-infos">
      <h6><%= suggestion.value %></h6>
      <i class="far fa-thumbs-up thumb"></i>
    </div>
  </div>
<% end %>
