<%if suggestion.topic == "Destination" %>
  <div class="card-trip">
    <img src="" />
    <div class="card-trip-infos">
      <h6 class='places-name'><%= Geocoder.search(suggestion.value).first.city %>, <%= Geocoder.search(suggestion.value).first.country %></h6>
      <i class="far fa-thumbs-up thumb"></i>
    </div>
  </div>
<% end %>
