<% if suggestion.topic == "Destination" %>
  <div>
    <!-- <i class="fas fa-times-circle delete-sugg"></i> -->
    <%= suggestion.value %>
    <i class="far fa-thumbs-up thumb"></i>
  </div>
<% end %>
