<div id="">
  <!-- id=<%#= suggestion.value %> -->
<!--   <%#= link_to 'S',
  survey_suggestion_path(suggestion.survey.id, suggestion),
  class: '',
  method: :delete,
  data: { confirm: "Are you sure?" } %> -->
  <%#= suggestion.value %>
  <% @thematics.each do |thematic| %>
    <div>
      <%= link_to '',
      survey_suggestion_path(@survey, thematic),
      class: 'cross-delete',
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <%= thematic.value %>
      <i class="far fa-thumbs-up thumb"></i>
    </div>
  <% end %>
</div>

