<%# if suggestion.topic == "Thématiques" %>
  <!-- <div> -->
    <!-- <i class="fas fa-times-circle delete-sugg"></i> -->
    <%#= suggestion.topic %>
    <!-- <i class="far fa-thumbs-up thumb"></i> -->
  <!-- </div> -->
<%# end %>

