<div class="container">
  <h3> Sondage : <%= @event.name %> </h3>
  <p> A vos votes ! Pour organiser un séjour au top, j'ai besoin de votre avis ! </p>

  <div id="suggestions-disponibility">

  </div>

  <div>

  </div>

  <div>

  </div>






</div>
